### Q1) Which type of data can be used while creating a series object in pandas?

In [2]:
import pandas as pd
# series of integers
l = [1, 4, 5, 66, 21]
ser = pd.Series(l)
print(ser)

0     1
1     4
2     5
3    66
4    21
dtype: int64

In [3]:
# series of strings
l = ["ab", "cd", "ef", "gh", "hj"]
ser = pd.Series(l)
print(ser)

0    ab
1    cd
2    ef
3    gh
4    hj
dtype: object

In [4]:
# series of float numbers
l = [1.55, 4.9, 5.111, 66.0, 21.1]
ser = pd.Series(l)
print(ser)

0     1.550
1     4.900
2     5.111
3    66.000
4    21.100
dtype: float64

In [5]:
# series of booleans
l = [True, False, True, True]
ser = pd.Series(l)
print(ser)

0     True
1    False
2     True
3     True
dtype: bool

In [6]:
# series of lists
l = [[5, 7], [4, 6]]
ser = pd.Series(l)
print(ser)

0    [5, 7]
1    [4, 6]
dtype: object

In [7]:
# series of dictionaries
l = [{"name": "Kirill"}, {"age": 18}]
ser = pd.Series(l)
print(ser)

0    {'name': 'Kirill'}
1           {'age': 18}
dtype: object

We can infer that pd.Series() can work with any data type

### Q2)Create a series having the month's number as data and assign name as their index values?

In [8]:
import pandas as pd
month_names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
numeration = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
ser = pd.Series(data=numeration, index=month_names)
print(ser)

January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int64

### Q3)Write a program to create a series object using the dictionary which store the number of students in fresh batch groups ( MatMIE, Mat DAIS, COMIE, COMEC)?

In [10]:
import pandas as pd
data = {"MatMIE": 24,
       "MatDAIS": 21,
       "COMIE": 18,
       "COMEC": 27}
ser = pd.Series(index=data.keys(), data=data.values())
print(ser)

MatMIE     24
MatDAIS    21
COMIE      18
COMEC      27
dtype: int64

### Q4)Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [11]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

datafr = pd.DataFrame(data=exam_data, index=labels)
print(datafr)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

### Q5)Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [13]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

datafr = pd.DataFrame(data=exam_data, index=labels)

# Adding a column for sorting
datafr["morethan3"] = datafr["attempts"] > 2

# Iteration
for x in datafr.index:
    if not datafr.loc[x, 'morethan3']:
        datafr.drop(x, inplace=True)

# Final touch
datafr.drop(columns="morethan3", inplace=True)
datafr

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes